@model IEnumerable<Mahfil.Models.Congregration>
@{
    ViewBag.Title = "Mine";
}

<h2>Upcoming Congregrations</h2>
<ul style="margin-top:30px;" class="congregrations">
    @foreach (var congregration in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @congregration.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @congregration.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="speaker">
                    @congregration.Speaker.Name
                 

                </span>
                <span class="genre">
                    @congregration.Genre.Name
                </span>
             <div class="actions">
                 <a href="@Url.Action("Edit","Mahfil",new { id=congregration.Id})">Edit</a>
                 <button class="js-cancel-congregration" data-congregration-id="@congregration.Id">Cancel</button>
             </div>
            </div>

        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-cancel-congregration").click(function (e) {
                var link = $(e.target);
                
                if (confirm("Are You sure to Cancel this Congregration")) {
                    $.ajax({
                        url: "/api/congregrations/" + link.attr("data-congregration-id"),
                        method: "DELETE"
                    }).done(function () {
                        link.parents("li").fadeOut(function () {
                            $(this).remove();
                        });
                    }).fail(function () {
                        alert("Somrthing Failed");
                    });
                }
            });
        });
    </script>
    
    }